body {
    font-family: Arial, sans-serif;
    background-color: #f7ff8a;
    color: white;
}

.contenedor {
    width: 450px;
    margin: auto;
    margin-top: 40px;
    background: #ffc400;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.pregunta {
    background: #d4f831;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: left;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #a5d6a7;
    color: #030303;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #ec850f;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
