body {
    background-image: url("../img/Juegos/Eco_Defensor/espacio_exterior_pixel_art.jpg");
    background-size: cover;       /* para que llene toda la pantalla */
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    border: 3px solid white;
    background-color: #000;
}

#gameCanvas {
    background-color: black;
    border-right: 3px solid white;
}

#panel {
    width: 220px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#panel h2 {
    color: #ffff55;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

#panel p {
    font-size: 18px;
    margin: 8px 0;
}

#panel span {
    color: #55ff55;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  background: #00bfff;      /* azul más brillante */
  box-shadow: 0 0 15px #00bfff; /* efecto de brillo */
  transform: translate(-50%, -50%) scale(1.05); /* leve aumento */
}