body {
    font-family: Arial, sans-serif;
    background-color: #1b5e20;
    color: white;
}

.contenedor {
    width: 450px;
    margin: auto;
    margin-top: 40px;
    background: #2e7d32;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.pregunta {
    background: #388e3c;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: left;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #a5d6a7;
    color: #1b5e20;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #c8e6c9;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
