body {
    background-image: url("../img/Juegos/AvVerde_Fondo.jpeg");
    background-repeat: no-repeat;
    background-position: center;

    background-color: #007d3c;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#menu,
#gameOver {
    margin-top: 150px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    background: #00aaff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0077cc;
}

canvas {
    border: 2px solid white;
    display: block;
    margin: 0 auto;
}