body{
    font-family: sans-serif;
    margin: 0;
    background-image: url(../img/Blog/BlogMaterial_1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 70px;
    background-color: rgb(198, 26, 204);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 70px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 40px;
}

nav a:hover{
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

#img1{
    border-radius: 10;
    width: 350px;
    height: 350px;
    float: right;
}

#img2{
    border-radius: 10;
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 10px;
}

#img3{
    border-radius: 10;
    width: 300px;
    height: 300px;
    float: inline-end;
    margin-right: 10px;
}

#img4{
    border-radius: 10;
    width: 60%;
    height: 300px;
    align-self: center;
    margin-right: 10px;
}
.contenedor{
    display: flex;
    flex-direction: column;
}

.titulo{
    justify-content: center;
    background-color: aqua;
    color: crimson;
    font-size: 50px;
}
.titulo1{
    color: rgb(102, 4, 141);
    font-size: 30px;
}

.titulo2{
    color: darkcyan;
    font-size:  30px; 
}

.titulo3{
    color: darkmagenta;
    font-size:  30px; 
}

.titulo4{
    color: chocolate;
    font-size:  30px; 
}

.parrafo{
    color: rgb(11, 6, 54);
    font-family: Arial, Helvetica, sans-serif;
}
