<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recicla y Gana</title>
    <link rel="stylesheet" href="/static/css/StyleAvVerde.css">
</head>
<body>
<button class="back-btn" style="position: absolute; top: 10px; left: 10px; width: 70px; height: 70px; border-radius: 50%; background-color: lightgreen; border: none; cursor: pointer; padding: 0;" onclick="window.history.back()"><img src="/static/img/FlechaReg.png" alt="Regresar" style="width: 100%; height: 100%; border-radius: 50%; object-fit: contain;"></button>

<div id="menu">
    <h1>Aventura Verde</h1>
    <button id="startBtn">Iniciar Juego</button>
</div>

<canvas id="gameCanvas" width="480" height="640" style="display:none;"></canvas>

<div id="gameOver" style="display:none;">
    <h1>GAME OVER</h1>
    <p id="finalScore"></p>
    <button id="restartBtn">Reiniciar</button>
</div>

<script src="/static/scripts/ScriptAvVerde.js"></script>
</body>
</html>
