<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aventura Verde</title>
    <link rel="stylesheet" href="/static/css/StyleAvVerde.css">
</head>
<body>

<div id="menu">
    <h1>Aventura Verde</h1>
    <button id="startBtn">Iniciar Juego</button>
</div>

<canvas id="gameCanvas" width="480" height="640" style="display:none;"></canvas>

<div id="gameOver" style="display:none;">
    <h1>GAME OVER</h1>
    <p id="finalScore"></p>
    <button id="restartBtn">Reiniciar</button>
</div>

<script src="/static/scripts/ScriptAvVerde.js"></script>
</body>
</html>
