<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../static/css/StyleBlog.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/StylePrinc.css') }}">
    
</head>
<body>
    <a href="/perfil-usuario" class="user-profile-link" style="text-decoration: none;">
        <div id="user-container" style="position: absolute; top: 10px; left: 10px; width: 175px; height: 125px; background-color: rgba(255,255,255,0.8); border-radius: 10px; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.2); z-index: 1000;">
            <img src="{{ url_for('static', filename='img/' + foto) }}" alt="Foto de perfil" style="width: 50px; height: 50px; border-radius: 50%; border: 2px solid #ccc;">
            <p style="margin: 5px 0 0 0; font-size: 12px; text-align: center;">{{ user }}</p>
        </div>
    </a>
   <header>
    <a href="#" class="logo">
        <img src="../static/img/DVMATLogo.png" alt="">
        <h2 class="nombre-empresa">DVMAT</h2>
    </a>
    <nav>
        <a href="" class="nav-link">Sobre Nosotros</a>
        <a href="" class="nav-link">codigo</a>
        <a href="" class="nav-link">Experiencias</a>
        <a href="" class="nav-link">Dificultades</a>
    </nav>
   </header>
   <h1 class="titulo">BLOG</h1>
   </a>

   <br>

    <h2 class="titulo1">Sobre Nosotros</h2>

    <div>

        <p class="parrafo">
            Les queremos contar de nosostros nuestros integrantes el trabajo en equipo y demas cosas. 
            Por ejemplo el codigo que queremos, que hable de la contaminacion ya que de eso se trata nuestro proyecto 
            PEC, el cual todo nuestro equipo esta trabajando en el proyecto ya que es algo que benefisia a nuestra localidad
            y incluso a nuestro plantel de colegios cientificos y tecnologicos del estodo de mexico
            (<span style="color: rgb(10, 58, 10);">cecytem</span>) y algo que quiero contarles o mas bien queremos contarles como realizamos
            el trabajo y asi mismo les contaramos nuestras esperiensas, lo que aprendimos, la forma en
            la cula creamos el codigo y mas acerca del equipo.

            Pero antes de empezar, como dice el subtitulo "<span style="color: rgb(81, 79, 180);">Sobre Nosotros</span>" les
            queremos contar mas sobre nosotros como nuestros comentarios de proyecto y de la pagina wed,
            les voy acitar algunos de los comentarios que tineen los integrantes del equipo:
            
            <br><br>

            <img id="img1" src="../static/img/Blog/BlogMaterial_2.jpg">

            Dylan.
            "Opino que es bastante bueno que se nos este educando sobre <br>
            ese tema ya que muchas veces suele dejarse de lado tento, <br>
            por instituciones, fabricas, empresas, etc"

            <br><br>

            Maya.
            "El proyecto de la paguina web donde estamos trabajando <br>
            es util mediante como convertimos esta paguina web en una <br>
            biblioteca llena de informacion y material didactico<br>
            para que la comunidad tenga mas educacion sobre nuestros<br>
            temas principaes"

            <br><br>

            Byran.
            "Lo que yo opino del proyecto es algo fastidioso y <br>
            dificil pero va a servir para las fituras generaciones"
            

            <br><br>

            Nos cuesta la pagina pero esperemos que se del hagrado 
            de la gente para poner sin que sea nustra huella ecologica, <br>
            lo cual nos va a benificiar.
        </p>
    </div>

    <h3 class="titulo2">Codigo</h3>

    <div>
            <p class="parrafo">Nuestro codigo se nos resulto dificil ya que no sabemos realmente como funciona
            y nos cuesta manejarlo un comentario de uno de nuestros integrante nos dice:
            "que el codigo esta en proceso pero nos falta agregar algunos complementos". Y de echo el
            codigo lo estamos manejando tres personas y nuestros demas inegrantes les toca diferentes
            roles dentro del equipo. Por ejemplo: <br> <br>
            Dylan es nuestro diseñador de nuestra empresa,<br> <br>
            Byran le toca la parte de investigacion el busca informacion de nuestro proyecto PEC y las
            resume para darlas a conocer,<br><br>
            Arias, Marvin y Maya, les toca el codigo ellos estan encargados del contenido y los estilos
            de nuestra pagina.
            <br> <br>
            Pero no lo estamos pasando bien al interior del equipo ya que lo estamos hacemos a nuestro modo y le ponemos
            lo que queremos y a nuestra creatividad. Pero algo que nos gusta es que la pagina funciona y que si es util 
            para el tema en especial y que ralmente si funciona, nos costo damasido pero estamos felizes con nuestros resultados
            <br><br>
            el codigo nos resulto de cierto modo entresante, complicado y por ejemplo los formularios se les agrego el SweeAlert
            pero realmente se nos complico y no solo eso si no tambienlas bases de datos para poder bincularlos con los 
            Templetes ya que realmente solo tres manejamos el codigo, las experiencias de nuestros companeros son bariadas
            por ejemplo de Dylan que es el disenador se le complica la invecion de disenos ya que se tiene que buscar disenos que
            correspondan con el tema central. Byran le toco las lecturas y las partes de la inventgacion tiene que estar 
            investigando y leyendo aserca del tema lo cual le resulto muy estresante, Arias, Marvin y Maya que les toco el codigo
            se les reulto complicado ya que devian guntar todas sus partes del trabajo para mandarla y poder hacer que la pagina 
            bincule todo lo que se le agrego.
        </p>
        <img id="img2" src="../static/img/Blog/BlogMaterial_4.jpg">
    </div>

    <h4 class="titulo3">Experiencias</h4>

    <div>

        <p class="parrafo">El dia de hoy salimos a recojer botellas de plastico lo cual juntamos dos bolsas
            de botellas, y las llevamos a resiclarla y en total sumo 2k y,
            en total nos dieron 50$, con lo cual nos compramos un refresco y volvimos a empezar
            a resiclar ese dia fue un poco cansado ya que estubiomos bajo el sol y teniamos que echar las botellas
            en una bolsas per tambien las recojiamos cundo saliamos de las escuela en el camino cada quien lo
            hacia por su lado, pero el dia de hoy salimos todos a trabajar y recolectar.
            <br><br>
            Los centros de resiclaje nos quedaban en cierto termino enmedio de los integrantes del equipo era como 
            un punto de union entre nosotros, pero aunque quisieramos alir mas constante no podiamos ya que teniamos que terminar el
            codigo pero cuando saliamos tratamos de recojer lo mas que se podia, a alguos de nuestros integrantes nos daba pena
            ya que la gente nos veia. Lo cual si nos dio pena pero lo podimos sobre llevar ya que real mente era un bien para el 
            municipio ya que aunque eramos unos cuantos haciendo la lavor sabemos que aunque sea dejamos nuestra huella para las futuras generaciones
            <br><br>
            Lo mas dificil era cuando teniamos que desirles a las personas que no tiraran su bausura ya que nos veian feo
            e incluso nos decian que, "que nos importaba lo que ellos hacian y que no nos metieramos en sus asuntos" 
            pero apesar de todo nos divertimos en el proyecto.
        </p>
    </div>
        <img id="img3" src="../static/img/Blog/BlogMaterial_3.jpg">
    <div>
        <h5 class="titulo4">Dificultades</h5>

        <p class="parrafo">La forma en que esto ayuda es ver el ejemplo a lo mejor nos ven con pena pero si invitamos a alguien hcerlo
            esta perfecto ya que es lo que queremos en nuestro proyecto. <br>
            pero aun haci tenemos dificultades en nuestro proyecto como el saber separar los productos y recolectarlos
            e incluso en donde llevarlos para reciclarlos. <br>
            Tambien es importante analizar estas vias de contaminacion ya que pensamos que una botella no afecta en nada
            pero realmente nos afecta demasiado por ejemplo, no solo es un problema estetico, sino que tiene
            repercusiones, profundas en el madio ambiente, la salud publica, y la economia.
            <br><br>
            Otros campos en lo cual se nos dificultaba era el saber que era para reciclar y que no era para reciclar
            tambien el costo que conyeba y el como recolectarlos y guntar la botella e incluso quien se la hiba a llevar.
        </p>


    <div>
        <h2>Quieres contarnos tus historias??</h2>
        <p class="parrafo">
            Puedes contarnos tu historias mandandolas a nuestra pagina web <a href="/Historias-de-Usuarios">
                <span style="color: rgb(1, 1, 10);">"Aqui"</span></a> Tus historias las contaramos al publico
                lo cual daras a conocer tus experiencias y ru pensar de estos temas.
        </p>
    </div>
        <div class="contenedor">
    <img id="img4" src="../static/img/Blog/BlogMaterial.jpg">
    </div>

</body>
</html>