{% extends "base.html" %}

{% block title %}Catalogo de materiales reciclables{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/StyleCat.css') }}">
<style>
    .main-menu {
        background: rgba(255, 255, 255, 1) !important;
        flex-wrap: nowrap !important;
    }
    .menu-links {
        flex-direction: column !important;
        gap: 30px !important;
        align-items: flex-end !important;
    }
    .menu-row {
        display: flex !important;
        gap: 32px !important;
        justify-content: flex-end !important;
    }
</style>
{% endblock %}

{% block content %}

<div class="hero-container">
    <img src="{{ url_for('static', filename='img/Catalogo_Portada.jpg') }}" alt="Portada Catalogo">
</div>

<header>
    <h1>Catalogo de materiales reciclables</h1>
</header>

<div class="lista">
    {% for p in productos %}
    <section class="item">
        <img src="{{ url_for('static', filename='img/' + p.img) }}">
        <div class="info">
            <h2>{{ p.nombre }}</h2>
            <p>{{ p.descripcion }}</p>
            <h3>Ideas de reciclaje:</h3>
            <p>{{ p.IdeasRec }}</p>
            <h3>Tiempo de degradación:</h3>
            <p>{{ p.TiempoDegr }}</p>
            <h3>Características físicas:</h3>
            <ul>
                {% for carac in p.CaracFisc %}
                <li>{{ carac }}</li>
                {% endfor %}
            </ul>
            <h3>Productos populares:</h3>
            <ul>
                {% for producto in p.ProductPop %}
                <li>{{ producto }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endfor %}
</div>

{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='scripts/ScriptCat.js') }}"></script>
{% endblock %}
