{% extends "base.html" %}

{% block title %}Centros de Reciclaje{% endblock %}

{% block content %}
    <img src="{{ url_for('static', filename='img/CentrosR_Portada.jpg') }}" alt="Portada Centros de Reciclaje" style="width: 100%; height: auto;">

    <div class="image-container">
        <div class="row first-row">
            <div class="image-item">
                <img src="{{ url_for('static', filename='img/CentrosR/CentrosReMaterial.png') }}" alt="Centro de Reciclaje 1">
                <div class="description">
                    RECICLACERO FIERRO Y METALES. <br><br>
                    Ubicacion: <br>
                    Carlos Castillo no 56 mz 32 lt 26, Granjas Valle de Guadalupe, 55270 Ecatepec de Morelos, Méx
                    <br><br>
                    Precios: <br>
                    <table>
                        <tr>
                            <th>Cobre</th>
                            <th>No especificado</th>
                            <th>Carton</th>
                            <th>No especificado</th>
                        </tr>
                        <tr>
                            <th>Aluminio</th>
                            <th>No especificado</th>
                            <th>Vidrio</th>
                            <th>No especificado</th>
                        </tr>
                        <tr>
                            <th>Bronce</th>
                            <th>No especificado</th>
                            <th>PET</th>
                            <th>No especificado</th>
                        </tr>
                        <tr>
                            <th>Baterias</th>
                            <th>No especificado</th>
                            <th>Papel</th>
                            <th>No especificado</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='img/CentrosR/CentrosReMaterial_1.png') }}" alt="Centro de Reciclaje 2">
                <div class="description">
                    Recicla México. <br><br>
                    Ubicacion: <br>
                    Anillo Periférico, Av. Leyes de Reforma 11-Int. 1, 3ª Sección, Iztapalapa, 09208 Ciudad de México, CDMX <br><br>
                    Precios: <br>
                    <table>
                        <tr>
                            <th>Cobre</th>
                            <th>No especificado</th>
                            <th>Carton</th>
                            <th>No especificado</th>
                        </tr>
                        <tr>
                            <th>Aluminio</th>
                            <th>No especificado</th>
                            <th>Vidrio</th>
                            <th>No especificado</th>
                        </tr>
                        <tr>
                            <th>Bronce</th>
                            <th>No especificado</th>
                            <th>PET</th>
                            <th>$10</th>
                        </tr>
                        <tr>
                            <th>Baterias</th>
                            <th>$190</th>
                            <th>Papel</th>
                            <th>No especificado</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='img/CentrosR/CentrosReMaterial_2.png') }}" alt="Centro de Reciclaje 3">
                <div class="description">
                    Planta Recicladora. <br><br>
                    Ubicacion: <br>
                    55540, Av. Nacional 44B, Santa Clara Coatitla, Ecatepec de Morelos, Méx. <br><br>
                    Precios: <br>
                    <table>
                        <tr>
                            <th>Cobre</th>
                            <th>$90</th>
                            <th>Carton</th>
                            <th>$30</th>
                        </tr>
                        <tr>
                            <th>Aluminio</th>
                            <th>No especificado</th>
                            <th>Vidrio</th>
                            <th>No especificado</th>
                        </tr>
                        <tr>
                            <th>Bronce</th>
                            <th>$150</th>
                            <th>PET</th>
                            <th>$8.50</th>
                        </tr>
                        <tr>
                            <th>Baterias</th>
                            <th>No especificado</th>
                            <th>Papel</th>
                            <th>No especificado</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row second-row">
            <div class="image-item">
                <img src="{{ url_for('static', filename='img/CentrosR/CentrosReMaterial_3.png') }}" alt="Centro de Reciclaje 4">
                <div class="description">
                    Planta De Reciclaje. <br><br>
                    Ubicacion: <br>
                    54942, Miguel Hidalgo 24b, Benito Juárez, Buenavista, Méx <br><br>
                    Precios: <br>
                    <table>
                        <tr>
                            <th>Cobre</th>
                            <th>No especificado</th>
                            <th>Carton</th>
                            <th>No especificado</th>
                        </tr>
                        <tr>
                            <th>Aluminio</th>
                            <th>$80</th>
                            <th>Vidrio</th>
                            <th>No especificado</th>
                        </tr>
                        <tr>
                            <th>Bronce</th>
                            <th>No especificado</th>
                            <th>PET</th>
                            <th>$15</th>
                        </tr>
                        <tr>
                            <th>Baterias</th>
                            <th>$180</th>
                            <th>Papel</th>
                            <th>No especificado</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='img/CentrosR/CentrosReMaterial_4.png') }}" alt="Centro de Reciclaje 5">
                <div class="description">
                    Recicladora Peralsa. <br><br>
                    Ubicacion: <br>
                    C. Teoatl L.16, Talladores, 56366 Ciudad de México, Méx <br><br>
                    Precios: <br>
                    <table>
                        <tr>
                            <th>Cobre</th>
                            <th>$90</th>
                            <th>Carton</th>
                            <th>No especificado</th>
                        </tr>
                        <tr>
                            <th>Aluminio</th>
                            <th>No especificado</th>
                            <th>Vidrio</th>
                            <th>$20</th>
                        </tr>
                        <tr>
                            <th>Bronce</th>
                            <th>$120</th>
                            <th>PET</th>
                            <th>No especificado</th>
                        </tr>
                        <tr>
                            <th>Baterias</th>
                            <th>No especificado</th>
                            <th>Papel</th>
                            <th>No especificado</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}