<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comentarios</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="../static/css/StyleForms.css">
</head>
<body>
    <section class="Form-sesion">
        <h4>Comentarios de la pagina</h4>
        <form id="formComentarios" novalidate>
            <input class="controls" type="text" id="usuario" placeholder="Nombre del usuario(s)" required>
            <input class="controls" type="text" id="correo" placeholder="¿Te parece util nuestra pagina" required>
            <input class="controls" type="text" id="password" placeholder="¿Te gustaria mas cambios?" required>
            <h1>Califica la pagina:</h1><br>
            <input type="radio" value="regular" id="regular" name="Calificacion" checked>
            <label for="regular">regular</label>
            <input type="radio" value="Bien" id="Bien" name="Calificacion">
            <label for="Bien">Bien</label>
            <input type="radio" value="Excelente" id="Excelente" name="Calificacion">
            <label for="Excelente">Excelente</label>
            <button id="btnRegistrar" type="submit">Eniviar</button>
        </form>

    <script src="../static/scripts/scriptCom.js"></script>
</body>
</html>