<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comentarios</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="../static/css/StyleForms.css">
    <style>
        .back-btn:hover {
            background-color: lightgreen !important;
            box-shadow: none !important;
            transform: none !important;
        }
        input {
            color: white !important;
            font-weight: bold !important;
        }
    </style>
</head>
<body>
<button class="back-btn" style="position: absolute; top: 10px; left: 10px; width: 70px; height: 70px; border-radius: 50%; background-color: lightgreen; border: none; cursor: pointer; padding: 0;" onclick="window.history.back()"><img src="/static/img/FlechaReg.png" alt="Regresar" style="width: 100%; height: 100%; border-radius: 50%; object-fit: contain;"></button>
    <section class="Form-sesion">
        <h4>Comentarios de la pagina</h4>
        <form id="formComentarios" novalidate>
            <input class="controls" type="email" id="correoElectronico" placeholder="Correo electrónico registrado" required>
            <input class="controls" type="text" id="utilidad" placeholder="¿Te parece util nuestra pagina?" required>
            <input class="controls" type="text" id="cambios" placeholder="¿Te gustaria mas cambios?" required>
            <h1>Califica la pagina:</h1><br>
            <input type="radio" value="regular" id="regular" name="Calificacion" checked>
            <label for="regular">regular</label>
            <input type="radio" value="Bien" id="Bien" name="Calificacion">
            <label for="Bien">Bien</label>
            <input type="radio" value="Excelente" id="Excelente" name="Calificacion">
            <label for="Excelente">Excelente</label>
            <button id="btnEnviar" type="submit">Enviar</button>
        </form>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/scripts/ScriptSweet.js"></script>
    <script src="../static/scripts/scriptComentarios.js"></script>
</body>
</html>