<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>EcoDefensor: Guardianes del Planeta</title>
    <link rel="stylesheet" href="../static/css/StyleEcoDef.css">
</head>
<body>
    <div id="container">
        <!-- Zona del juego -->
        <canvas id="gameCanvas" width="700" height="500"></canvas>

        <!-- Panel lateral -->
        <div id="panel">
            <h2>🌍 EcoDefensor: Guardianes del Planeta</h2>
            <p><strong>Puntuación:</strong> <span id="score">0</span></p>
            <p><strong>Vidas:</strong> <span id="vidas">3</span></p>
            <p><strong>Nivel:</strong> <span id="nivel">1</span></p>
        </div>
    </div>

    <script src="../static/scripts/ScriptEcoDef.js"></script>
</body>
</html>