<html>

<head>
    <title>Entrevistas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/StylePrinc.css">
</head>

<body>
    <img src="../static/img/Entrevistas_Portada.png" alt="Entrevistas_Portada" style="width: 100%; height: auto;">
    <div style="display:flex;gap:10px;align-items:flex-start;margin:5px;">
        <div style="flex:0 0 40%;min-width:220px;">
            <img src="../static/img/EntrevistasMaterial.jpeg" alt="EntrevistasMaterial"
                style="width:100%;height:auto;display:block;margin-left: 20px;margin-top: 20px;">
            <p style="margin-left: 20px;">
                DR.Ricardo Lopez<br>
                Educacion ambiental
            </p>
        </div>

        <div style="flex:1 1 55%;min-width:220px;display:flex;flex-direction:column;">
            <img src="../static/img/EntrevistasMaterial_1.jpg" alt="EntrevistasMaterial_1"
                style="width:67%;height:auto;display:block;margin-bottom:20px;margin-left:170px; margin-top:20px;">
            <p style="margin-left: 170px;">
                Laura Torres<br>
                Cuidado del planeta
            </p>
        </div>
    </div>
    <div style="display:flex;gap:10px;align-items:flex-start;margin:5px;">
        <div style="flex:0 0 40%;min-width:220px;">
            <img src="../static/img/EntrevistasMaterial_2.jpg" alt="EntrevistasMaterial_2"
                style="width:100%;height:auto;display:block;margin-left: 20px;margin-top: 20px;">
            <p style="margin-left: 20px;">
                Mariana Aguilar<br>
                Energias limpias
            </p>
        </div>

        <div style="flex:1 1 55%;min-width:220px;display:flex;flex-direction:column;">
            <img src="../static/img/EntrevistasMaterial_3.jpg" alt="EntrevistasMaterial_3"
                style="width:67%;height:auto;display:block;margin-bottom:20px;margin-left:170px; margin-top:20px;">
            <p style="margin-left: 170px;">
                ING.Diego Morales<br>
                Participacion juvenil
            </p>
        </div>
    </div>
    <p>
        Si tienes algun comentario sobre las entrevistas o si quieres que entrevistemos a alguien especifico, no dudes
        en dejarnos tu opinion en la seccion de
        comentarios. <a href="/Comentarios-Entrevistas"> Comentarios para Entrevistas</a>
    </p>

</html>