{% extends "base.html" %}

{% block title %}Entrevistas{% endblock %}

{% block content %}
    <img src="../static/img/Entrevistas_Portada.jpg" alt="Entrevistas_Portada" style="width: 100%; height: auto;">
    <div style="display:flex;gap:10px;align-items:flex-start;margin:5px;">
        <div style="flex:0 0 40%;min-width:220px; padding-left:20px;">
            <img src="../static/img/EntrevistasMaterial.png" alt="EntrevistasMaterial"
                style="width:100%;height:auto;display:block;margin-top: 20px;">
            <p>
                Dr. Ramón Ojeda Mestre<br>
                Esta entrevista con el Dr. Ramón Ojeda Mestre, presenta sobre la contaminación de puebla y como esta
                afecta a los ciudadanos, pero algo que si es preocupante es como la contaminación de la CDMX se mueve
                hasta puebla. <br>
                Enlace <br>
                <a href="https://youtu.be/i0w2u5eXRFo?si=kF2SZLS5zvR_9WqM" target="_blank"
                    style="color: blue; text-decoration: underline;">Entrevista con el DR. Ramon Ojeda Mestre en
                    youtube</a>
            </p>
        </div>

        <div style="flex:1 1 55%;min-width:220px;display:flex;flex-direction:column; padding-left:170px;">
            <img src="../static/img/EntrevistasMaterial_1.png" alt="EntrevistasMaterial_1"
                style="width:100%;height:auto;display:block;margin-bottom:20px;margin-top:20px;">
            <p>
                Dr. Malaquías López<br>
                Esta entrevista con el Dr. Malaquías López, se enfoca en la gran contaminación de la CDMX, siendo esta
                la más contaminada de toda la república mexicana. <br>
                Enlace <br>
                <a href="https://youtu.be/QsbzBa-Bcok?si=fdIDqQ1FIiB3HuJi" target="_blank"
                    style="color: blue; text-decoration: underline;">Entrevista con el DR. Malaquias Lopez en
                    youtube</a>
            </p>
        </div>
    </div>
    <div style="display:flex;gap:10px;align-items:flex-start;margin:5px;">
        <div style="flex:0 0 40%;min-width:220px; padding-left:20px;">
            <img src="../static/img/EntrevistasMaterial_2.png" alt="EntrevistasMaterial_2"
                style="width:100%;height:auto;display:block;margin-top: 20px;">
            <p>
                Dr. Ramon Ojeda Mestre<br>
                Esta entrevista del Dr. Ramon Ojeda Mestre, nos habla sobre un programa llamado "Derecho al medio
                ambiente", dende nos explican de que consiste y por qué fue creado. <br>
                Enlace <br>
                <a href="https://youtu.be/Xn0hchmjSXA?si=i_tXR5dAZymNT9X6" target="_blank"
                    style="color: blue; text-decoration: underline;">Entrevista con el DR. Ramon Ojeda Mestre en
                    youtube</a>
            </p>
        </div>

        <div style="flex:1 1 55%;min-width:220px;display:flex;flex-direction:column; padding-left:170px;">
            <img src="../static/img/EntrevistasMaterial_3.png" alt="EntrevistasMaterial_3"
                style="width:100%;height:auto;display:block;margin-bottom:20px;margin-top:20px;">
            <p>
                Dr. Azándar Guzmán<br>
                Es una entrevista a la Dr. Azándar Guzmán, donde se explica que es la contingencia ambiental y el cómo
                evitarla, también de los riesgos que conlleva una misma. <br>
                Enlace <br>
                <a href="https://youtu.be/khzwXjKnttI?si=sw80pEAG8onUUagH" target="_blank"
                    style="color: blue; text-decoration: underline;">Entrevista con la Dra. Azándar Guzmán en
                    youtube</a>
            </p>
        </div>
    </div>
    <div style="display:flex;gap:10px;align-items:flex-start;margin:5px;">
        <div style="flex:0 0 40%;min-width:220px; padding-left:20px;">
            <img src="../static/img/EntrevistasMaterial_4.png" alt="EntrevistasMaterial_4"
                style="width:100%;height:auto;display:block;margin-top: 20px;">
            <p>
                Guillermo Martínez Berlanga<br>
                Esta hacia el especialista Guillermo Martínez Berlanga, nos habla de la segunda ciudad mas contaminada a
                nivel nacional, esta siendo la ciudad de Monterrey, cifra que en unos años puede aumentar y quitarle el
                primer lugar a la CDMX en contaminación. <br>
                Enlace <br>
                <a href="https://youtu.be/HEGT52nHEjo?si=PifFLcBHp28B9nKj" target="_blank"
                    style="color: blue; text-decoration: underline;">Entrevista con Guillermo Martinez Berlanga en
                    youtube</a>
            </p>
        </div>
    </div>
    <p>
        Si tienes algun comentario sobre las entrevistas o si quieres que entrevistemos a alguien especifico, no
        dudes
        en dejarnos tu opinion en la seccion de
        comentarios. <a href="/Comentarios-Entrevistas"> Comentarios para Entrevistas</a>
    </p>

{% endblock %}