<html>

<head>
    <title>Juegos didacticos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/StylePrinc.css">
</head>

<body>
    <img src="../static/img/Juegos_Portada.png" alt="Juegos_Portada" style="width:100%; height:auto; display:block;">
    <br><br>
    <div style="display:flex;gap:10px;align-items:flex-start;margin:5px;flex-wrap:wrap;">
        <div style="flex:1 1 calc(33.333% - 10px);min-width:180px;">
            <img src="../static/img/JuegosMaterial.jpg" alt="JuegosMaterial"
                style="width:100%;height:auto;display:block;margin:0;">
            <p style="margin:8px 0 0 0;">
                Recicla y Gana<br>
                Enseñar a clasificar los recursos correctamente
            </p>
        </div>

        <div style="flex:1 1 calc(33.333% - 10px);min-width:180px;">
            <img src="../static/img/JuegosMaterial_1.jpg" alt="JuegosMaterial_1"
                style="width:100%;height:auto;display:block;margin:0;">
            <p style="margin:8px 0 0 0;">
                ECOTrivia<br>
                Reforzar conocimientos del medio ambiente
            </p>
        </div>

        <div style="flex:1 1 calc(33.333% - 10px);min-width:180px;">
            <a href="/Aventura-Verde">
                <img src="../static/img/JuegosMaterial_2.jpg" alt="JuegosMaterial_2"
                style="width:100%;height:auto;display:block;margin:0;">
            </a>
            <p style="margin:8px 0 0 0;">
                Aventura verde<br>
                Promover actividades positivas para la naturaleza
            </p>
        </div>

        <div style="flex:1 1 calc(33.333% - 10px);min-width:180px;">
            <img src="../static/img/JuegosMaterial_3.jpg" alt="JuegosMaterial_3"
                style="width:33%;height:auto;display:block;margin:0;">
            <p style="margin:8px 900 0 0;">
                Guardianes del planeta<br>
                Desarrollar conciencia sobre nuestro impacto
            </p>
        </div>
    </div>

</body>

</html>