<html>
    <head>
        <title>Lecturas Eco</title>
        <link rel="stylesheet" href="../static/css/StylePrinc.css">
    </head>
    <body>
        <img src="../static/img/Lecturas_Portada.png" alt="Lecturas_Portada" style="width:100%; height:auto; display:block;">
        <div style="display: flex; gap: 20px; align-items: flex-start; margin: 5px 0 5px 15px;">
            <div style="flex: 1;">
                <h2>Lecturas que te recomendamos leer para mejorar la comprension del tema</h2>
                <ul>
                    <li>
                        introduccion a la Ecologia <br>
                        Autor: Dr. Carlos Rivas <br>
                        Descripcion: *Falta descripcion* <br>
                        Link: <a href="https://www.example.com/introduccion-a-la-ecologia" target="_blank">Introducción a la Ecología</a>
                    </li>
                    <li>
                        Ecosistemas y sus componentes <br>
                        Autor: Mtra. Elena Martínez <br>
                        Descripcion: *Falta descripcion* <br>
                        Link: <a href="https://www.example.com/ecosistemas-y-sus-componentes" target="_blank">Ecosistemas y sus componentes</a>
                    </li>
                    <li>
                        El impacto Humano en el medio Ambiente <br>
                        Autor: Ing. Roberto García <br>
                        Descripcion: *Falta descripcion* <br>
                        link: <a href="https://www.example.com/el-impacto-humano-en-el-medio-ambiente" target="_blank">El impacto Humano en el medio Ambiente</a>
                    </li>
                    <li>
                        Energías renovables y desarrollo sostenible <br>
                        Autor: Lic. Paula Jime <br>
                        Descripcion: *Falta descripcion* <br>
                        link: <a href="https://www.example.com/energias-renovables-y-desarrollo-sostenible" target="_blank">Energías renovables y desarrollo sostenible</a>
                    </li>
                </ul>
            </div>
            <img src="../static/img/Lecturas_Material.png" alt="Lecturas_Material" style="width: 400px; height: auto; flex-shrink: 0;">
        </div>
        <p>
            Si tienes algun comentario sobre las lecturas, quieres dejar una reseña sobre alguna de ellas o recomendar alguna otra, puedes hacerlo en la seccion de
            <a href="/Comentarios-Lecturas">Comentarios y Reseñas</a>.
        </p>
    </body>
</html>