<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="../static/css/StyleReg.css">
    <style>
        .back-btn:hover {
            background-color: lightgreen !important;
            box-shadow: none !important;
            transform: none !important;
        }
        .controls {
            color: white;
            font-weight: bold;
        }
    </style>
</head>
<body>
<button class="back-btn" style="position: absolute; top: 10px; left: 10px; width: 70px; height: 70px; border-radius: 50%; background-color: lightgreen; border: none; cursor: pointer; padding: 0;" onclick="window.history.back()"><img src="/static/img/FlechaReg.png" alt="Regresar" style="width: 100%; height: 100%; border-radius: 50%; object-fit: contain;"></button>
    <section class="Form-sesion">
        <h4>Registro</h4>
        <form id="formRegistro" novalidate>
            <input class="controls" type="text" id="usuario" placeholder="usuario" required>
            <input class="controls" type="email" id="correo" placeholder="Correo Electronico" required>
            <input class="controls" type="password" id="password" placeholder="ingresa tu contraseña" required>
            <button id="btnRegistrar" type="submit">Registrarse</button>
        </form>
    </section>

    <script src="../static/scripts/ScriptReg.js"></script>
</body>
</html>