<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Elegir nivel</title>
    <link rel="stylesheet" href="../static/css/StyleTrivia.css">
</head>
<body>
    <div class="contenedor">
        <h1>Juego Trivia PEC ♻️</h1>
        <p>Niveles</p>

        <form action="/Trivia" method="POST">
            <button type="submit" name="nivel" value="facil">🌱 Fácil</button>
            <button type="submit" name="nivel" value="medio">🌿 Medio</button>
            <button type="submit" name="nivel" value="dificil">🌳 Difícil</button>
        </form>
    </div>
</body>
</html>
